*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
   
    align-items: center;
}

.container {
    flex-direction: column;
    display: flex;
    background-color: white;
    width: 1040px;
    height: 800px;
    padding-top: 20px;
    gap: 10px;
    align-items: center;
    border-radius: 10px;
}
.header {
    display: flex;
    justify-content: center;
    font-size: 80px;
    display: flex;
    font-weight: bold;
}
.space{
    margin-right: 20px;
}
.header span{
    letter-spacing: 10px;
}
.header .L{
    color: red;
}
.header .E{
    color: blue;
}
.header .d{
    color: orange;
}
.header .D{
    color: black;
}
.header .I{
    color: red;
}
.header .P{
    color: green;
}
.header .I{
    color: red;
}
.display_box {
    border-radius: 10px;
    padding: 2px;
    width: 750px;
    height: 200px;
    position: relative;
    background-color: black;
    margin-top: 20px; 
    margin-bottom: 20px;
    box-shadow: 9px 10px 26px -13px rgba(0,0,0,0.74);
    -webkit-box-shadow: 9px 10px 26px -13px rgba(0,0,0,0.74);
    -moz-box-shadow: 9px 10px 26px -13px rgba(0,0,0,0.74);
}
.Welcome{
    color: #FF0000;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 70px;
    position: absolute;
    transform: translate(-50% ,-50%);
    top: 50%;
    left: 50%;

}
.Welcome:nth-child(1){
    color: transparent;
    -webkit-text-stroke: 2px rgb(224, 53, 23);
}
.Welcome:nth-child(2){
    color:yellow;
    animation: animate 4s ease-in-out infinite;
}
@keyframes animate {
    0%,100%{
        clip-path: polygon(0 0, 16% 9%, 30% 20%, 49% 33%, 66% 43%, 87% 66%, 100% 85%, 99% 98%, 0% 98%);
    }
    50%{
        clip-path: polygon(0 84%, 23% 67%, 36% 60%, 48% 54%, 64% 44%, 78% 40%, 100% 31%, 99% 98%, 0% 98%);
    }
    
}


.All_btn{
    display:flex;
    justify-content: center;
    gap:40px;
    width: 80%;
    
}
.All_btn button{
    cursor: pointer;
}
.All_btn button:hover ,.LED_btn:hover{
    border:2px solid rgb(54, 80, 255);
    transform: scale(1.1);
}
.LED_btn {
    background-color: #D9D9D9;
    width:142px ;
    text-align: center;
    border:none;
    border-radius: 5px;
    box-shadow: 9px 10px 26px -13px rgba(0,0,0,0.5);
    -webkit-box-shadow: 9px 10px 26px -13px rgba(0,0,0,0.5);
    -moz-box-shadow: 9px 10px 26px -13px rgba(0,0,0,0.5);
    font-size: 22px;
    padding: 10px;
    color:black;
}
.Dis_btn{
    background-color: #FF0000;
    width:142px ;
    border:none;
    border-radius: 5px;
    box-shadow: 9px 10px 26px -13px rgba(0,0,0,0.5);
    -webkit-box-shadow: 9px 10px 26px -13px rgba(0,0,0,0.5);
    -moz-box-shadow: 9px 10px 26px -13px rgba(0,0,0,0.5);
    font-size: 22px;
    padding: 10px;
    color:white;
}
.About_btn {
    background-color: #FF8C04;
    width:142px ;
    border:none;
    border-radius: 5px;
    box-shadow: 9px 10px 26px -13px rgba(0,0,0,0.5);
    -webkit-box-shadow: 9px 10px 26px -13px rgba(0,0,0,0.5);
    -moz-box-shadow: 9px 10px 26px -13px rgba(0,0,0,0.5);
    font-size: 22px;
    padding: 10px;
    color: black;
}



@media only screen and (max-width: 768px)  {
    .display_box{
        max-width: 98%;
        height: 120px;
    }

    .container {
        width: 90%;
        height: 800px;
        
    }

    .header {
        font-size: 34px;
    }
    .All_btn{
        display:flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        width: 80%;
        padding: 10%;
    }

    
}
@media only screen and (max-width: 480px){
    .display_box{
        max-width: 98%;
        height: 120px;
    }

    .container {
        width: 90%;
        height: 600px;
        
    }

    .header {
        font-size: 34px;
    }
    .All_btn{
        display:flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        width: 80%;
        padding: 10%;
    }
}