*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 20px;
    align-items: center;
}

.container {
    flex-direction: column;
    display: flex;
    background-color: white;
    width: 1040px;
    height: 800px;
    padding-top: 20px;
    gap: 10px;
    align-items: center;
    border-radius: 10px;
    
    
}
.header {
    display: flex;
    justify-content: center;
    font-size: 80px;
    display: flex;
    font-weight: bold;
}
.space{
    margin-right: 20px;
}
.header span{
    letter-spacing: 10px;
}
.header .L{
    color: red;
}
.header .E{
    color: blue;
}
.header .d{
    color: orange;
}
.header .D{
    color: black;
}
.header .I{
    color: red;
}
.header .P{
    color: green;
}
.header .I{
    color: red;
}
.display_box {
    border-radius: 10px;
    padding: 2px;
    width: 750px;
    height: 200px;
    background-color: black;
    margin-top: 20px; 
    margin-bottom: 20px;
    box-shadow: 9px 10px 26px -13px rgba(0,0,0,0.74);
    -webkit-box-shadow: 9px 10px 26px -13px rgba(0,0,0,0.74);
    -moz-box-shadow: 9px 10px 26px -13px rgba(0,0,0,0.74);
}


.All_btn{
    padding: 5px;
    width: 80%;
    display: flex;
    flex-direction: row;
    gap: 10px; 
    justify-content: space-evenly;
}
.btn_1 , .btn_2{
    width: 40%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
   
}
.Text_input, .Speed_range , .Text_color ,.Bg_color ,.Animation_input ,.font_input{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 50px;
    padding: 10px;
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
    box-shadow: 9px 10px 26px -13px rgba(0,0,0,0.5);
    -webkit-box-shadow: 9px 10px 26px -13px rgba(0,0,0,0.5);
    -moz-box-shadow: 9px 10px 26px -13px rgba(0,0,0,0.5);
    font-size: 22px;
}
.Text_color,.Bg_color{
    background-color: rgb(226, 226, 226);
}
.Speed_range:hover , .Text_color:hover ,.Bg_color:hover, .Text_input:hover ,.Animation_input:hover, .font_input:hover{
    border:1px solid rgb(54, 80, 255);
}

.Text_color, .Bg_color{
    display: flex;
    justify-content: space-between;
}
.btn_1 input{
    outline: none;
    width: 80%;
    height: 20px;
    background-color: none;
    background-color: transparent;
    font-size: 20px;
    color:cornflowerblue;
    border:1px solid rgb(183, 183, 183);
    padding-left: 5px;
    border-radius: 10px;
}

.btn_1 .Text_input input{
    width: 100%;
    border:none;
}
.btn_1 input:focus{
   
    border:0px solid rgb(54, 80, 255);
}
.Speed_range input[type="range"] {
    height: 5px;
    width: 100%;
}
#pick-color{
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
}
#pick-color::-webkit-color-swatch-wrapper {
    padding: 0;
}

#pick-color::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
    padding: 0;
}

#pick-color::-moz-color-swatch {
    border: none;
    border-radius: 50%;
    padding: 0;
}
#pick-color:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.btn_3 {
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 45px;
    margin: 5px;
    gap: 5px;
}
.font_size{
    flex-grow: 1;
}
.font_input input{
    max-width: 80%;
}

.btn_3 .Back_btn ,.start_btn{
    width: 20%;
    height: auto;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    border-radius: 10px;
    box-shadow: 9px 10px 26px -13px rgba(0,0,0,0.5);
    -webkit-box-shadow: 9px 10px 26px -13px rgba(0,0,0,0.5);
    -moz-box-shadow: 9px 10px 26px -13px rgba(0,0,0,0.5);
    background-color: rgb(241, 241, 241);
    border:none;
    cursor: pointer;
}
.btn_3 button:hover ,.Frame_color:hover ,.Back_btn:hover ,.start_btn:hover {
    border:1px solid rgb(54, 80, 255);
}
.btn_3 .font_size {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    height: 100%;
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
    box-shadow: 9px 10px 26px -13px rgba(0,0,0,0.5);
    -webkit-box-shadow: 9px 10px 26px -13px rgba(0,0,0,0.5);
    -moz-box-shadow: 9px 10px 26px -13px rgba(0,0,0,0.5);
}

.font_size input[type="range"] {
    height: 5px;
    width: 100%;
    background-color: transparent;
    outline: none;
    border-radius: 10px;
    padding-left: 5px;
}

.font_size:hover {
    border: 1px solid rgb(54, 80, 255);
}
#range{
    padding-left: 0;
}

#select_font{
    border: none;
    outline: none;
    font-size: 16px;
    background-color: rgb(241, 241, 241);;
    height: auto;

}

@media only screen and (max-width: 768px)  {
    .display_box{
        max-width: 98%;
        height: 120px;
    }
    .header {
        font-size: 34px;
    }


    .container {
        width: 90%;
        height: 800px;
    }

   

    .btn_3 {
        flex-direction: row;
        align-items: center;
        width: 90%;
        gap: 10px;
        font-size: 16px;
    }

    .btn_3 button {
        height: 90%;
    }

    .btn_3 .start_btn, .Back_btn{
        max-width: 20%;
        font-size: 16px;
        height: 40px;
    }

    
    .All_btn ,.Back_btn{
        padding: 5px;
        flex-direction: column;
        gap: 20px;
        width: 100%;
      
    }

    .btn_1,
    .btn_2 {
        width: 98%;
        font-size: 16px;
    }

    .Text_input,
    .Speed_range,
    .Text_color,
    .Bg_color,
    .start_btn,
    .Animation_input,
    .font_input {
        padding: 8px;
        height: 40px;
        font-size: 16px;
       
    }

    
}

@media only screen and (max-width: 480px)  {
    .display_box{
        max-width: 90%;
        height: 120px;
    }
    .header {
        font-size: 28px;
    }


    .container {
        width: 90%;
        height: 800px;
        row-gap: 5px;
    }

    .btn_3 {
        flex-direction: row;
        align-items: center;
        width: 90%;
        gap: 5px;
        font-size: 16px;
    }

    .btn_3 button {
        height: 90%;
    }

    .btn_3 .start_btn, .Back_btn{
        max-width: 20%;
        font-size: 16px;
        height: 40px;
    }

    
    .All_btn ,.Back_btn{
        padding: 5px;
        flex-direction: column;
        gap: 20px;
        width: 100%;
      
    }

    .btn_1,
    .btn_2 {
        width: 98%;
        font-size: 16px;
    }

    .Text_input,
    .Speed_range,
    .Text_color,
    .Bg_color,
    .start_btn,
    .Animation_input,
    .font_input {
        padding: 8px;
        height: 40px;
        font-size: 16px;
       
    }

   
    
}